@import "tailwindcss"; /* Ini harus ada di paling atas! */

@theme {
  --color-kh-blue: #00A3FF;
  --color-kh-dark: #050505;
  --color-kh-card: rgba(255, 255, 255, 0.03);
  
  --shadow-neon-blue: 0 0 25px rgba(0, 163, 255, 0.3);
}

@layer base {
  body {
    background-color: var(--color-kh-dark);
    color: white;
    -webkit-font-smoothing: antialiased;
    background-image: url("https://www.transparenttextures.com/patterns/carbon-fibre.png");
    min-height: 100vh;
  }
}
